service: serverless-nestjs-example
frameworkVersion: '3'
	
plugins:
  - serverless-plugin-optimize
  # Uncomment for local environment and install devDependencies
  # - serverless-offline
  - serverless-api-gateway-throttling

provider:
  name: aws
  runtime: nodejs18.x
  region: us-west-2
  stage: ${opt:stage, 'dev'}
  timeout: 10
  memorySize: 256
  architecture: arm64
  tracing:
    lambda: true
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'logs:CreateLogGroup'
        - 'logs:CreateLogStream'
        - 'logs:PutLogEvents'
      Resource: 'arn:aws:logs:*:*:*'

  
functions:
  main:
    name: lmb-${self:provider.stage}-cs-api_medy-01
    handler: dist/serverless.handler
    events:
      - http:
          path: '/medy/v1/relacional'
          method: POST
          throttling:
            maxRequestsPerSecond: 1
            maxConcurrentRequests: 1
      - http:
          method: POST
          path: '/{proxy+}/medy/v1/relacional'
          throttling:
            maxRequestsPerSecond: 1
            maxConcurrentRequests: 1

custom:
  serverless-offline:
    noPrependStageInUrl: false
  optimize:
    external: ['swagger-ui-dist']
  apiGatewayThrottling:
    maxRequestsPerSecond: 1000
    maxConcurrentRequests: 500
