service: serverless-nestjs-example
frameworkVersion: '3'

	
custom:
  # Configures throttling settings for the API Gateway stage
  # They apply to all http endpoints, unless specifically overridden
  apiGatewayThrottling:
    maxRequestsPerSecond: 1000
    maxConcurrentRequests: 500
    
plugins:
  - serverless-plugin-optimize
  # Uncomment for local environment and install devDependencies
  # - serverless-offline
  - serverless-api-gateway-throttling

provider:
  name: aws
  runtime: nodejs18.x
  region: us-west-2
  stage: ${opt:stage, 'dev'}
  timeout: 10
  memorySize: 256
  architecture: arm64
  tracing:
    lambda: true
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'logs:CreateLogGroup'
        - 'logs:CreateLogStream'
        - 'logs:PutLogEvents'
      Resource: 'arn:aws:logs:*:*:*'
  apiGateway:
    restApiId:
      Ref: MyApiGateway
    restApiRootResourceId:
      Fn::GetAtt:
        - MyApiGateway
        - RootResourceId

functions:
  main:
    name: lmb-${self:provider.stage}-cs-api_medy-01
    handler: dist/serverless.handler
    events:
      - http:
          path: '/'
          method: ANY
          throttling:
            maxRequestsPerSecond: 1
            maxConcurrentRequests: 1
      - http:
          method: ANY
          path: '/{proxy+}'
          throttling:
            maxRequestsPerSecond: 1
            maxConcurrentRequests: 1

custom:
  serverless-offline:
    noPrependStageInUrl: false
  optimize:
    external: ['swagger-ui-dist']
    exclude: ['aws-sdk']
    debug: true

resources:
  Resources:
    MyApiGateway:
      Type: AWS::ApiGateway::RestApi
      Properties:
        Name: apigw-${self:provider.stage}-cs-apigateway-medy-01
        Description: CS Medy API
